<!doctype html>
<html  lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Webpack-AngularJS</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/ionic/1.3.2/css/ionic.min.css">
    <base href="/">
</head>

<body ng-app="app">
    <!-- <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-clear">
            <i class="icon-leftArrow"></i> 返回
        </ion-nav-back-button>
    </ion-nav-bar> -->

    <ion-nav-view animation="slide-right-left">
        <!-- <div class="bar bar-header  bar-default">
            <h1 class="title">美书</h1>
        </div> -->
    </ion-nav-view>
    <script src="//cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</body>

</html>